@import "../config/styles.json";

$expand-easing: map-get($circle, expand_easing);
$collapse-easing: map-get($circle, collapse_easing);

$center-size: map-get($center, size);
$center-border: map-get($center, border);

$circle-size: map-get($circle, size);
$circle-size-half: $circle-size / 2;
$circle-border: map-get($circle, border);
$circle-triangle-size: map-get($circle, triangle);
