@import "config";
@import "style-factory";

// adding a circle
@keyframes in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.in {
	-webkit-animation: in 1s;
	animation: in 1s;
}

// removing a circle
@keyframes out {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.2);
	}
}

@-webkit-keyframes out {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.2);
	}
}
.out {
	-webkit-animation: out 1s;
	animation: out 1s;
}

// no transition allowed
.notrans {
	-webkit-transition: none !important;
	   -moz-transition: none !important;
	    -ms-transition: none !important;
	     -o-transition: none !important;
	        transition: none !important;
}

// general circle
.circle {
	font-size: map-get($circle, base_size);
	position: relative;
	width: $circle-size;
	height: $circle-size;
	line-height: $circle-size;
	text-align: center;
	box-sizing: border-box;
	border: $circle-border solid transparent;
	border-radius: $circle-size-half;
	background-color: #ccc;
	vertical-align: middle;
	display: inline-block;
	color: inherit;

	&.small {
		font-size: 82px;
	}
	&.smaller {
		font-size: 66px;
	}

	.icon {
		font-size: 0.2em;
		position: relative;
		top: 0.095em;
		-webkit-transition: opacity .25s;
		   -moz-transition: opacity .25s;
		    -ms-transition: opacity .25s;
		     -o-transition: opacity .25s;
		        transition: opacity .25s;
		&.disabled {
			opacity: 0.5;
		}
	}

	.outer-label {
		.text {
			$font-size: map-get($circle, outer_label_size);
			font-size: $font-size;
		}

		$distance-x: 0.2em;
		$distance-y: 0.12em;

		position: absolute;
		line-height: normal;
		font-weight: 400;
		color: #373637;
		pointer-events: none;

		&.left {
			right: 100%;
			margin-right: $distance-x;
			text-align: right;
		}
		&.right {
			left: 100%;
			margin-left: $distance-x;
			text-align: left;
		}
		&.left, &.right {
			white-space: nowrap;
			vertical-align: top;
			top: 50%;
			margin-top: -0.2em;
		}

		&.top {
			bottom: 100%;
			margin-bottom: $distance-y;
		}
		&.bottom {
			top: 100%;
			margin-top: $distance-y;
		}
		&.top, &.bottom {
			text-align: center;
			width: 300%;
			margin-left: -150%;
			left: $circle-size-half;
		}
	}
	.inner-label {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;

		color: white;
		img {
			vertical-align: middle;
		}
	}

	.edge {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		width: 0;
		height: 0;
		line-height: 0;
		-webkit-transition: -webkit-transform 0.6s;
		   -moz-transition: -moz-transform 0.6s;
		    -ms-transition: -ms-transform 0.6s;
		     -o-transition: -o-transform 0.6s;
		        transition: transform 0.6s;

		.triangle {
			&:before {
				content: "";
				vertical-align: top;
				position: absolute;
				border-left: $circle-triangle-size solid transparent;
				border-top: ($circle-triangle-size * 2/3) solid transparent;
				border-bottom: ($circle-triangle-size * 2/3) solid transparent;
				top: -($circle-triangle-size * 2/3);
				left: -$circle-triangle-size - 4;
			}

			position: relative;
			top: -($circle-triangle-size * 2/3);
			vertical-align: top;
			left: 0.45em;
			display: inline-block;
			border-left: $circle-triangle-size solid #ccc;
			border-top: ($circle-triangle-size * 2/3) solid transparent;
			border-bottom: ($circle-triangle-size * 2/3) solid transparent;
		}
	}
}

@include circle-class("blue", #31B7F2);
@include circle-class("green", #44C854);
@include circle-class("orange", #F2AC31);
@include circle-class("red", #a00);




.circle-label {
	position: relative;
	top: $center-size / 2 - 20;
	font-size: 2.25rem;
	font-weight: 400;
	text-align: center;
	z-index: 2;
}
.center {
	width: $center-size;
	height: $center-size;
	background-color: map-get($center, background);

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -($center-size / 2);
	margin-top: -($center-size / 2);

	border-radius: ($center-size / 2);
	position: relative;


	.circle {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		cursor: default;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -$circle-size-half;
		margin-top: -$circle-size-half;
		-webkit-transition: -webkit-transform 0.7s, opacity 0.7s, margin-top 0.3s;
		   -moz-transition: -moz-transform 0.7s, opacity 0.7s, margin-top 0.3s;
		    -ms-transition: -ms-transform 0.7s, opacity 0.7s, margin-top 0.3s;
		     -o-transition: -o-transform 0.7s, opacity 0.7s, margin-top 0.3s;
		        transition: transform 0.7s, opacity 0.7s, margin-top 0.3s;


		&.clickable .inner-label {
			cursor: pointer;
		}

		&.collapsed {
			opacity: 0;
			-webkit-transform: none !important;
			   -moz-transform: none !important;
			    -ms-transform: none !important;
			     -o-transform: none !important;
			        transform: none !important;
		-webkit-transition-duration-function: 0.4s;
		   -moz-transition-duration-function: 0.4s;
		     -o-transition-duration-function: 0.4s;
		        transition-duration-function: 0.4s;
		-webkit-transition-timing-function: $collapse-easing;
		   -moz-transition-timing-function: $collapse-easing;
		     -o-transition-timing-function: $collapse-easing;
		        transition-timing-function: $collapse-easing;
		}

		&.expanding {
		-webkit-transition-timing-function: $expand-easing;
		   -moz-transition-timing-function: $expand-easing;
		     -o-transition-timing-function: $expand-easing;
		        transition-timing-function: $expand-easing;
		}

	}
}

.no-transforms {
	.center {
		.circle {
			position: static;
			margin: 0.25em;
			top: 0;
			left: 0;

			.edge {
				display: none;
			}
		}
	}
}