@mixin circle-bg($color) {
	background-color: $color;

	.edge .triangle {
		border-left-color: $color;
		&:before {
			border-left-color: $color;
		}
	}
}
@mixin circle-border($color) {
	border-color: $color;
	.edge .triangle {
		border-left-color: $color;
	}
}

@mixin circle-class($name, $color, $border: $color, $outer-label: "") {
	.circle.#{$name} {
		@include circle-bg($color);
		@if ($color != $border) {
			@include circle-border($border);
		}
		@if ($outer-label != "") {
			.outer-label {
				color: $outer-label;
			}
		}
	}
	#multisteps-#{$name} .circle.back {
		background-color: $color;
	}
}

@mixin circle-category($name, $var) {
	@include circle-class($name, map-get($var, color));
	@include circle-class("#{$name}-children:hover",
		map-get($var, color_hover),
		map-get($var, color),
		map-get($var, color)
	);
	.circle.plus.#{$name}-children:hover {
		background-image: url('../img/plus-#{$name}.svg');
	}
}